.header {
    background: #242424;
    border-bottom: 1px solid #000000;
}

.headerOpt {
    display: flex;
}

.header_main{
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.header_title h2{
    margin: 10px;
    color: #fff;
}

.logo {
    padding-top: 8px;
}

.logo img {
    width:35px;
}