body {
    margin:0;
    padding: 0;
    background: #ececec;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}
.mainBackground{
    background: #ececec;
}
@media only screen and (min-width: 768px) {
    
    body{
        width: 450px;
        background:rgba(0,0,0,0.7);
        border: 1px solid #acacac;
    }
} 