.team_logo{
    width: 30px;
    height: 25px;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    
}
.team_stand{
    width: 25px;
    border-right: #acacac 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}
.left_info{
    display: flex;
    width: 65%;
    /* justify-content: center; */
    flex-wrap: nowrap;
    border-right: #acacac 1px solid;

}

.right_info{
    display: flex;
    width: 35%;
    /* justify-content: center; */
    flex-wrap: nowrap;
}

.team_container{
    background: #fff;

}

.team_cell{
    padding-top: 1px;
    padding-bottom: 1px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #acacac;
}
.team_name{
width: 80%;
}
.team_wins, .team_draws,.team_defeat,.team_points {
    justify-content: center;
    width: 25%;
    text-align: center;
    border-right: #acacac 1px solid;
}

.pheader h3{
    text-align: center;
    margin: 20px;
    color: #353535;
    font-weight: 300;
    font-size: 21px;
}